$w: 500px;
$h: 20px;
$colors-list: green red blue yellow;

$middle: $w / 2 - ($w / length($colors-list) / 2);
.line-color {
    position: relative;
    width: $w;
    height: $h;
    border: 1px solid black;
    &__child {
        position: absolute;
        top: 0;
        width: $w;
        height: $h;
    }
    @each $current-color in $colors-list {
        $i: index($colors-list, $current-color);
        &__child:nth-child(#{$i}) {
            &:before {
                content: '';
                position: absolute;
                left: $w / 2;
                height: $h;
                background-color: $current-color;
                animation: load5 2s infinite linear;
            }
        }
    }
}
@keyframes load5 {
    0% {
        transform: scaleX(0);
    }
    100% {
        transform: scaleX($w);
    }
}
