@mixin create-square-wave-elem($c, $am, $w, $h, $g, $bcol, $al, $jdy, $jdx, $mop) {
    .#{$c} {
        display: flex;
        align-items: center;
        &__square {
            width: $w;
            height: $h;
            background-color: $bcol;
            animation: $c + '-loadanim' $al infinite;
            @for $i from 1 through $am {
                &:nth-child(#{$i}) {
                    animation-delay: ($al / 12) * $i;
                }
            }
            &:not(:first-child) {
                margin-left: $g;
            }
        }
    }
    @include create-keyframe($c + '-loadanim') {
        0%,
        100% {
            transform: translate(0px, 0px);
            opacity: 1;
        }
        50% {
            transform: translate($jdx, $jdy);
            opacity: $mop;
        }
    }
}
