@mixin create-wave-elem($classname, $am, $w, $max-h, $min-h, $gap, $bcolor, $anim-l) {
    .#{$classname} {
        display: flex;
        align-items: center;
        justify-content: center;
        height: $max-h;
        &__wave {
            display: inline-block;
            width: $w;
            height: $max-h;
            background-color: $bcolor;
            border-radius: 8px;
            transition: 0.2s ease;
            margin-left: $gap;
            @for $i from 1 through $am {
                &:nth-child(#{$i}) {
                    animation: #{$classname} $anim-l infinite linear;
                    // animation-delay: $anim-l / ($am + 1) * $i;
                    animation-delay: $anim-l / $am * $i;
                }
            }
            &:first-child {
                margin-left: 0;
            }
        }
    }
    @include create-keyframe($classname) {
        0% {
            height: $max-h;
        }
        50% {
            height: $min-h;
        }
        100% {
            height: $max-h;
        }
    }
}
