// TODO: Do not forget to change the "amount-of-..." variables in the one you're using corresponding to your HTML
// Wave  (lines)
$loader-wave-amount-of-lines: 5;
$loader-wave-width: 5px;
$loader-wave-max-height: 40px;
$loader-wave-min-height: $loader-wave-max-height / 5;
$loader-wave-line-gap: 10px;
$loader-wave-background-color: black;
$loader-wave-animation-length: 0.7s;

// Wave (squares)
$loader-square-wave-amount-of-squares: 5;
$loader-square-wave-width: 20px;
$loader-square-wave-height: 20px;
$loader-square-wave-gap: 20px;
$loader-square-wave-background-color: black;
$loader-square-wave-animation-length: 0.7s;
$loader-square-wave-jump-distanceY: -15px;
$loader-square-wave-jump-distanceX: 0;
$loader-square-wave-min-opacity: 0.5;

// Gooey loader
// Don't fiddle around too much with the _gooey-loader.scss file. It usually does not do what you expect it to do.
$loader-gooey-dot-width: 50px; /* Would not recommend going below 50, although 40 creates a cool unexpected effect, you might like it */
$loader-gooey-dot-height: 50px; /* Would not recommend going below 50, although 40 creates a cool unexpected effect, you might like it */
$loader-gooey-dot1-bcolor: red;
$loader-gooey-dot2-bcolor: blue;
$loader-gooey-dot3-bcolor: green;
$loader-gooey-animation-length: 4s;
$loader-gooey-full-circle-width: 200px;

// Google spinner
$loader-google-size: 100px;
$loader-google-border-width: 5px; /* > 10 will break the round shape */
$loader-google-green: #008744;
$loader-google-blue: #0057e7;
$loader-google-red: #d62d20;
$loader-google-yellow: #ffa700;

// Windows dots
/*
    If you only need one you can just create a wrapper div with the class "loading-dots"  and the dots classed "loading-dots__dot"
    change the settings here to get that one to change.

    if you need more than one with different settings, I created a mixin, see below how it works. The first one is for the standard one
*/
$loader-dots-amount-dots: 6;
$loader-dots-size: 10px;
$loader-dots-circle-size: 80px;
$loader-dots-rotate-animation: 2.5s; /* Time it takes to animate the dots 2 full rounds (speed ups and slow downs are calculated) */
$loader-dots-between-full-animation-delay: 1.2s; /* Delay between every 2 full rotations */
$loader-dots-between-dots-delay: 0.12s; /* Delay in when the animation starts between every dot in seconds */
$loader-dots-color: black;
@include create-dots-elem ('loading-dots', $loader-dots-amount-dots, $loader-dots-size,
 $loader-dots-circle-size, $loader-dots-rotate-animation, $loader-dots-between-full-animation-delay,
 $loader-dots-between-dots-delay, $loader-dots-color);
