@mixin create-keyframe($animationName) {
    @keyframes #{$animationName} {
        @content;
    }
}

// Import all different loader mixins
@import 'loaders/dots';
@import 'loaders/wave';

// import the settings
@import 'settings';

// load the loaders without mixins
@import 'loaders/square-wave';
@import 'loaders/gooey-loader';
@import 'loaders/google-spinner';

// Demo specific:
html,
body {
    width: 100%;
    height: 100%;
}
.master-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.container33 {
    position: relative;
    width: 33%;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
