// I use this to create all the keyframes. feel free to put this anywhere you want or add prefixes. Don't change the name or change the mixin call in all the loaders in the loaders folder
@mixin create-keyframe($animationName) {
    @keyframes #{$animationName} {
        @content;
    }
}

// Import all different loader mixins
@import 'loaders/dots';
@import 'loaders/wave';
@import 'loaders/square-wave';
@import 'loaders/gooey-loader';
@import 'loaders/google-spinner';
@import 'loaders/dots-horizontal';
@import 'loaders/spinner';
@import 'loaders/border';
@import 'loaders/square-spinner';
@import 'loaders/circle-inner';

// import the settings
@import 'settings';

// For the border one, the parent needs position relative. For this demo it is just a black square but the child elements can be placed anywhere
.border-loader-container {
    position: relative;
    width: 200px;
    height: 100px;
    background-color: black;
}
// Demo specific:
html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
}
.master-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.container33 {
    position: relative;
    width: 33%;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
